Repository codinasion/codinasion-programme, pull requests merged in 2022-07, with the labels that each got.

#973 [ 🚧 WIP ] Adding Euler Number code in Julia
  programme/euler-number/README.md
  programme/euler-number/euler_number.jl
Labels: programme, Julia

#994 [ 🚧 WIP ] Add file for cube of number
  programme/README.md
  programme/cube-of-number/CubeOfNumber.java
  programme/cube-of-number/README.md
Labels: programme, Java

#999 [ 🚧 WIP ] Feature/977 csharp find cube of number
  programme/cube-of-number/CubeNumber.cs
  programme/cube-of-number/README.md
Labels: programme, C#

#998 [ 🚧 WIP ] Seraph branch
  programme/cube-of-number/README.md
  programme/cube-of-number/cube_of_number.py
Labels: programme, Python

#1000 Add README script
  programme/README.md
  programme/readme-gen.py
Labels: enhancement

#997 [ 🚧 WIP ] Update README.md
  programme/README.md
Labels: documentation

#996 [ 🚧 WIP ] Create volume-of-cube.py
  programme/volume-of-cube/README.md
  programme/volume-of-cube/volume-of-cube.py
Labels: programme, Python

#1001 [ 🚧 WIP ] Add java solution for volume of cube
  programme/volume-of-cube/README.md
  programme/volume-of-cube/VolumeOfCube.java
Labels: programme, Java

#1012 [ 🚧 WIP ] Added Volume of Cuboid programs for C, Cpp, Python and Updated Readme file.
  programme/README.md
  programme/volume-of-cuboid/README.md
  programme/volume-of-cuboid/volume-of-cuboid.c
  programme/volume-of-cuboid/volume-of-cuboid.cpp
  programme/volume-of-cuboid/volume-of-cuboid.py
Labels: programme, C, Python, C++

#1015 [ 🚧 WIP ] Added Volume of cube for C and C++
  programme/volume-of-cube/README.md
  programme/volume-of-cube/volume-of-cube.c
  programme/volume-of-cube/volume-of-cube.cpp
Labels: programme, C, C++

#1049 [ 🚧 WIP ] Volume of a cube PHP
  programme/volume-of-cube/README.md
  programme/volume-of-cube/volume-of-cube.php
Labels: programme, PHP

#1047 [ 🚧 WIP ] Volume of Sphere
  programme/README.md
  programme/volume-of-cone/README.md
  programme/volume-of-cone/volume_of_cone.py
Labels: programme, Python

#1046 [ 🚧 WIP ] #1039 added csharp code for finding volume of a cone
  programme/volume-of-cone/README.md
  programme/volume-of-cone/VolumeOfCone.cs
Labels: programme, C#

#1048 [ 🚧 WIP ] Volume of cone PY , volume of cube JS
  programme/volume-of-cone/README.md
  programme/volume-of-cone/volume-of-cone.py
  programme/volume-of-cube/README.md
  programme/volume-of-cube/volume-of-cube.js
Labels: programme, Python, JavaScript

#1050 [ 🚧 WIP ] Isu1037
  programme/volume-of-cone/README.md
  programme/volume-of-cone/volume-of-cone.c
Labels: programme, C

#1051 [ 🚧 WIP ] added multiple files
  programme/cube-of-number/README.md
  programme/cube-of-number/cube-of-number.cpp
  programme/volume-of-cone/README.md
  programme/volume-of-cone/VolumeOfCone.java
  programme/volume-of-cone/volume-of-cone.cpp
Labels: programme, C++, Java

#1052 [ 🚧 WIP ] Add solution for volume of cone
  programme/volume-of-cone/README.md
  programme/volume-of-cone/VolumeOfCone.java
Labels: programme, Java

#1053 [ 🚧 WIP ] Add solution for array elements slice
  programme/array-elements-slice/ArrayElementsSlice.java
  programme/array-elements-slice/README.md
Labels: programme, Java

#1054 [ 🚧 WIP ] Create volume-of-cuboid.java
  programme/volume-of-cuboid/README.md
  programme/volume-of-cuboid/VolumeOfCuboid.java
Labels: programme, Java

#1055 [ 🚧 WIP ] Create area-of-square-2.py
  programme/area-of-square/README.md
  programme/area-of-square/area-of-square.py
Labels: programme, Python

#1186 [ 🚧 WIP ] radian to degree + degree to radian
  programme/degree-to-radian/README.md
  programme/degree-to-radian/degree-to-radian.js
  programme/degree-to-radian/degree-to-radian.py
  programme/radian-to-degree/README.md
  programme/radian-to-degree/radian-to-degree.js
  programme/radian-to-degree/radian-to-degree.py
Labels: programme, Python, JavaScript

#1187 [ 🚧 WIP ] radian-to-degree-js
  programme/radian-to-degree/README.md
  programme/radian-to-degree/radian-to-degree.js
Labels: programme, JavaScript

#1188 [ 🚧 WIP ] radian-to-degree.cs
  programme/radian-to-degree/README.md
  programme/radian-to-degree/radian-to-degree.cs
Labels: programme, C#

#1196 [ 🚧 WIP ] Radians to degrees
  programme/degree-to-radian/DegreeToRadian.java
  programme/degree-to-radian/README.md
  programme/radian-to-degree/README.md
  programme/radian-to-degree/RadianToDegree.java
Labels: programme, Java

#1191 Cube of number JS & C
  programme/cube-of-number/README.md
  programme/cube-of-number/cube-of-number.js
  programme/cube-of-number/cube-of-numbers.c
Labels: triage

#1195 Check even or odd string solution C & JS & Python
  programme/check-even-or-odd-string/README.md
  programme/check-even-or-odd-string/check-even-or-odd-string.c
  programme/check-even-or-odd-string/check-even-or-odd-string.js
  programme/check-even-or-odd-string/check-even-or-odd-string.py
Labels: programme, C, Python, JavaScript

#1199 Add Degree to Radian C#
  programme/degree-to-radian/README.md
  programme/degree-to-radian/degree-to-radian.cs
Labels: triage

#1200 [ 🚧 WIP ] count Capital Letters java
  programme/count-capital-letters/README.md
  programme/count-capital-letters/countCapitalLetters.java
Labels: programme, Java

#1197 [ 🚧 WIP ] Java program to convert radians to degrees
  programme/radians-to-degrees/README.md
  programme/radians-to-degrees/RadianToDegree.java
Labels: programme, Java

#1203 [ 🚧 WIP ] created degree-to-radian.jl
  programme/degree-to-radian/README.md
  programme/degree-to-radian/degree-to-radian.jl
Labels: programme, Julia

#1198 [ 🚧 WIP ] Feature/1159 csharp count capital letters
  programme/count-capital-letters/CountCapitalLetters.cs
  programme/count-capital-letters/README.md
Labels: programme, C#

#1204 [ 🚧 WIP ] Radian to degree using C and C++
  programme/radian-to-degree/README.md
  programme/radian-to-degree/radian-to-degree.c
  programme/radian-to-degree/radian-to-degree.cpp
Labels: programme, C, C++

#1193 [ 🚧 WIP ] Converts from degrees to radiants in c++
  programme/degree-to-radian/README.md
  programme/degree-to-radian/degree-to-radiant.cpp
Labels: programme, C++

#1205 [ 🚧 WIP ] Add solution for check even or odd string
  programme/check-even-or-odd-string/CheckEvenOrOddString.java
  programme/check-even-or-odd-string/README.md
Labels: programme, Java

#1189 [ 🚧 WIP ] Update even-or-odd.py
  programme/even-or-odd-number/README.md
  programme/even-or-odd-number/even-or-odd.py
Labels: programme, triage, Python

#1206 [ 🚧 WIP ] Add solution for square root of number
  programme/square-root-of-number/README.md
  programme/square-root-of-number/SquareRootOfNumber.java
Labels: programme, Java

#1208 [ 🚧 WIP ] Added C# checking if string is even
  programme/check-even-or-odd-string/README.md
  programme/check-even-or-odd-string/check-even-or-odd-string.cs
Labels: programme, C#

#1209 [ 🚧 WIP ] Added JS
  programme/count-capital-letters/README.md
  programme/count-capital-letters/countCapitalLetters.js
Labels: programme, JavaScript

#1212 [ 🚧 WIP ] Create radin-to-degree
  programme/radian-to-degree/README.md
  programme/radian-to-degree/radian-to-degree.go
Labels: programme, GO

#1214 [ 🚧 WIP ] Create count-capital-letters.go
  programme/count-capital-letters/README.md
  programme/count-capital-letters/count-capital-letters.go
Labels: programme, GO

#1215 [ 🚧 WIP ] Create check-even-or-odd-string.go
  programme/check-even-or-odd-string/README.md
  programme/check-even-or-odd-string/check-even-or-odd-string.go
Labels: programme, GO

#1213 [ 🚧 WIP ] Create degree-to-radian.go
  programme/degree-to-radian/README.md
  programme/degree-to-radian/degree-to-radian.go
Labels: programme, GO

#1190 [ 🚧 WIP ] Python issue
  programme/capital-letter-in-string/capital-letter-in-string.py
  programme/index-of-alphabet/index-of-alphabet.py
  programme/lowercase-to-uppercase/lowercase-to-uppercase.py
  programme/odd-even-string/odd-even-string.py
  programme/randmon-prime-number/random-prime-number.py
  programme/random-even-number/random-even-number.py
  programme/random-number/random-number.py
  programme/random-odd-number/random-odd-number.py
  programme/square-root/square-root.py
  programme/sum-of-numbers/sum-of-numbers.py
  programme/uppercase-to-lowercase/uppercase-to-lowercase.py
Labels: programme, Python

#1217 [ 🚧 WIP ] Create find-index-of-an-alphabet.go
  programme/index-of-alphabet/README.md
  programme/index-of-alphabet/find-index-of-an-alphabet.go
Labels: programme, GO

#1218 [ 🚧 WIP ] add js code to calculate volume of a cuboid
  programme/volume-of-cuboid/README.md
  programme/volume-of-cuboid/volume-of-cuboid.js
Labels: programme, JavaScript

#1219 [ 🚧 WIP ] Added program that finds index of a letter in alphabet
  programme/index-of-alphabet/README.md
  programme/index-of-alphabet/index-of-an-alphabet.cs
Labels: programme, C#

#1220 [ 🚧 WIP ] Added radiant to degrees program in PHP
  programme/radian-to-degree/README.md
  programme/radian-to-degree/radiant-to-degrees.php
Labels: programme, PHP

#1222 Newb2
  programme/check-even-or-odd-string/README.md
  programme/check-even-or-odd-string/check-even-or-odd-string.cpp
  programme/count-capital-letters/README.md
  programme/count-capital-letters/count-capital-letters.cpp
  programme/degree-to-radian/README.md
  programme/degree-to-radian/degree-to-radian.c
  programme/lowercase-to-uppercase/README.md
  programme/lowercase-to-uppercase/lowercase-to-uppercase.cpp
  programme/uppercase-to-lowercase/README.md
  programme/uppercase-to-lowercase/uppercase-to-lowercase.cpp
Labels: programme, triage, C, C++

#1221 Added C program
  programme/degree-to-radian/degree-to-radian.c
Labels: triage, C

#1223 [ 🚧 WIP ] add js code to find index of an alphabet
  programme/index-of-alphabet/README.md
  programme/index-of-alphabet/index-of-alphabet.js
Labels: programme, JavaScript

#1225 Added program that finds square root of a number
  programme/square-root-of-number/README.md
  programme/square-root-of-number/square-root-of-number.cs
Labels: triage

#1224 feat: add radian-to-degree.php
  programme/radian-to-degree/README.md
  programme/radian-to-degree/radian-to-degree.php
Labels: programme, triage, PHP

#1226 [ 🚧 WIP ] feat: count capital letters php
  programme/count-capital-letters/README.md
  programme/count-capital-letters/count-capital-letters.php
Labels: programme, PHP

#1229 [ 🚧 WIP ] add js code to convert lowercase string to uppercase
  programme/lowercase-to-uppercase/README.md
  programme/lowercase-to-uppercase/lowercase-to-uppercase.js
Labels: programme, JavaScript

#1228 [ 🚧 WIP ] Create uppercase-to-lowercase.java
  programme/uppercase-to-lowercase/README.md
  programme/uppercase-to-lowercase/uppercaseToLowercase.java
Labels: programme, Java

#1233 [ 🚧 WIP ] add js code to find the sum of n numbers
  programme/sum-of-numbers/README.md
  programme/sum-of-numbers/sum-of-numbers.js
Labels: programme, JavaScript

#1234 [ 🚧 WIP ] add js code to compute the volume of a cone
  programme/volume-of-cone/README.md
  programme/volume-of-cone/volume-of-cone.js
Labels: programme, JavaScript

#1235 [ 🚧 WIP ] Added program that calculates the sum of integers
  programme/sum-of-numbers/README.md
  programme/sum-of-numbers/sum-of-numbers.cs
Labels: programme, C#

#1238 [ 🚧 WIP ] Seraph branch
  programme/square-root-of-number/README.md
  programme/square-root-of-number/square-root-of-number.php
Labels: programme, PHP

#1239 [ 🚧 WIP ] even-or-odd.php
  programme/even-or-odd-number/README.md
  programme/even-or-odd-number/even-or-odd.php
Labels: programme, PHP

#1243 [ 🚧 WIP ] Added the programme
  programme/volume-of-cube/README.md
  programme/volume-of-cube/volume-of-cube.cs
Labels: programme, C#

#1246 [ 🚧 WIP ] add js code to generate a random even number in range
  programme/random-even-number/README.md
  programme/random-even-number/random-even-number.js
Labels: programme, JavaScript

#1247 [ 🚧 WIP ] random number generator in range in c"
  programme/random-number/README.md
  programme/random-number/random-number.c
Labels: programme, C

#1248 [ 🚧 WIP ] added rust add-two-numbers program source file and exec, for testing …
  programme/add-two-numbers/add-two-numbers.rs
Labels: programme, Rust

#1251 [ 🚧 WIP ] Index of Alphabet Java
  programme/index-of-alphabet/README.md
  programme/index-of-alphabet/indexofalphabet.java
Labels: programme, Java

#1255 [ 🚧 WIP ] Added the program
  programme/random-prime-number/README.md
  programme/random-prime-number/random-prime-number.cs
Labels: programme, C#

#1256 [ 🚧 WIP ] add js code to generate a random number in range n1, n2
  programme/random-number/README.md
  programme/random-number/random-number.js
Labels: programme, JavaScript

#1257 [ 🚧 WIP ] Strings counter in Julia
  programme/check-even-or-odd-string/README.md
  programme/check-even-or-odd-string/checkEvenOrOddString.jl
Labels: programme, Julia

#1258 [ 🚧 WIP ] Lower case
  programme/lowercase-to-uppercase/README.md
  programme/lowercase-to-uppercase/lowercaseToUppercase.jl
  programme/uppercase-to-lowercase/README.md
  programme/uppercase-to-lowercase/lowercaseToUppercase.jl
Labels: programme, Julia

#1270 [ 🚧 WIP ] js code to check a valid email address
  programme/validate-email-address/README.md
  programme/validate-email-address/validate-email-address.js
Labels: programme, JavaScript

#1271 [ 🚧 WIP ] issue #1262
  programme/check-valid-email/check-valid-email.cs
Labels: programme, C#

#1275 [ 🚧 WIP ] Add python code to check if email address is valid or not
  programme/check-valid-email-address/README.md
  programme/check-valid-email-address/check-valid-email-address.py
  programme/check-valid-email-address/check-valid-email.cs
  programme/check-valid-email-address/check-valid-email.js
Labels: programme, Python

#1272 [ 🚧 WIP ] Create random-number.jl
  programme/random-number/random-number.jl
  programme/square-root-of-number/README.md
  programme/square-root-of-number/square-root.c
Labels: programme, C, Julia

#1274 Java: Lowercase to Uppercase String
  programme/lowercase-to-uppercase/LowerCaseToUppercase.java
  programme/lowercase-to-uppercase/README.md
Labels: programme, triage, Java

#1277 [ 🚧 WIP ] Add CheckValidEmailAddress.java
  programme/check-valid-email-address/CheckValidEmailAddress.java
  programme/check-valid-email-address/README.md
Labels: programme, Java

#1283 [ 🚧 WIP ] Create uppercase-to-lowercase.c
  programme/uppercase-to-lowercase/uppercase-to-lowercase.c
Labels: programme, C

#1278 [ 🚧 WIP ] Create random-odd-number in C, Capital Letters Counter in Julia, Comvert Lowercase to Uppercase in C
  programme/count-capital-letters/count-capital-letters.jl
  programme/lowercase-to-uppercase/lowercase-to-uppercase.c
  programme/random-odd-number/README.md
  programme/random-odd-number/random-odd-number.c
Labels: programme, C, Julia

#1280 [ 🚧 WIP ] Add CheckValidEmailAddress.kt
  programme/check-valid-email-address/CheckValidEmailAddress.kt
Labels: programme, Kotlin

#1285 [ 🚧 WIP ] Create sum-of-numbers.java
  programme/sum-of-numbers/README.md
  programme/sum-of-numbers/SumOfNumbers.java
Labels: programme, Java

#1287 [ 🚧 WIP ] added solution
  programme/index-of-alphabet/README.md
  programme/index-of-alphabet/index-of-alphabet.cpp
Labels: programme, C++

#1289 [ 🚧 WIP ] Create square-root-of-number.jl
  programme/square-root-of-number/square-root-of-number.jl
Labels: programme, Julia

#1292 [ 🚧 WIP ] Create volume-of-cylinder.jl
  programme/volume-of-cylinder/README.md
  programme/volume-of-cylinder/volume-of-cylinder.jl
Labels: programme, Julia

#1294 [ 🚧 WIP ] Random odd in java
  programme/index-of-alphabet/README.md
  programme/index-of-alphabet/index-of-alphabet.c
  programme/random-odd-number/random-odd-number.java
Labels: programme, C, Java

#1290 [ 🚧 WIP ] Volume
  programme/volume-of-cone/README.md
  programme/volume-of-cone/volume-of-cone.jl
Labels: programme, Julia
