Repository codinasion/codinasion-programme, pull requests merged in 2022-08, with the labels that each got.

#1297 [ 🚧 WIP ] Create random-even-number.java
  programme/random-even-number/random-even-number.java
Labels: programme, Java

#1298 [ 🚧 WIP ] Create random-number.java
  programme/random-number/random-number.java
Labels: programme, Java

#1299 Test
  programme/index-of-alphabet/index-of-alphabet.c
  programme/volume-of-cuboid/README.md
  programme/volume-of-cuboid/volume-of-cuboid.jl
  programme/volume-of-cylinder/volume-of-cylinder.jl
Labels: triage

#1304 added the program
  programme/factorial/factorial.cs
Labels: triage

#1302 [ 🚧 WIP ] Create index-of-alphabet.jl
  programme/index-of-alphabet/index-of-alphabet.jl
Labels: programme, Julia

#1306 [ 🚧 WIP ] added javascript code to convert uppercase string to lowercase
  programme/uppercase-to-lowercase/README.md
  programme/uppercase-to-lowercase/uppercase-to-lowercase.js
Labels: programme, JavaScript

#1309 [ 🚧 WIP ] js programme to generate a random odd number in range n1-n2
  programme/random-odd-number/README.md
  programme/random-odd-number/random-odd-number.js
Labels: programme, JavaScript

#1307 [ 🚧 WIP ] I338
  programme/divide-two-numbers/README.md
  programme/divide-two-numbers/divide-two-numbers.cs
Labels: programme, C#

#1303 [ 🚧 WIP ] Volume of sphere
  programme/volume-of-sphere/README.md
  programme/volume-of-sphere/volume-of-sphere.jl
Labels: programme, Julia

#1301 [ 🚧 WIP ] Volume of cube, Readme
  programme/volume-of-cube/README.md
  programme/volume-of-cube/volume-of-cube.jl
Labels: programme, Julia

#1300 [ 🚧 WIP ] Cube Of A Number In Julia, Readme Cahnges
  programme/cube-of-number/README.md
  programme/cube-of-number/cube-of-number.jl
Labels: programme, Julia

#1305 [ 🚧 WIP ] Julia random odd and even generator
  programme/random-even-number/random-even-number.jl
  programme/random-odd-number/random-odd-number.jl
Labels: programme, Julia

#1308 [ 🚧 WIP ] Added sum-of-numbers.cpp
  programme/sum-of-numbers/README.md
  programme/sum-of-numbers/sum-of-numbers.cpp
Labels: programme, C++

#1310 [ 🚧 WIP ] Create sum-of-number.c
  programme/sum-of-numbers/sum-of-number.c
Labels: programme, C

#1312 [ 🚧 WIP ] Create sum-of-numbers.jl
  programme/sum-of-numbers/sum-of-numbers.jl
Labels: programme, Julia

#1313 [ 🚧 WIP ] 1130 random prime number
  programme/random-prime-number/README.md
  programme/random-prime-number/RandomPrimeNumber.java
Labels: programme, Java

#1323 Strings go
  programme/uppercase-to-lowercase/uppercase-to-lowercase.go
  programme/uppercase-to-lowercase/uppercase-to-lowercase.jl
Labels: triage
